// Person jonathanMother = new Person("Mari", "Joestar", Gender.female, LocalDate.of(1843, 8, 4));

// Person georgeMother = new Person("Erina", "Pendleton", Gender.female, LocalDate.of(1869, 12, 2));

// Person josephMother = new Person("Elizabeth ", "Joestar", Gender.female, LocalDate.of(1888, 12, 22));